// Some comment here

@import "reset", "vars";

.title {
    text-align: center;
    color: $colorCite;
    $colorSite: ;
}

.container {
    &__header {
        color: $colorCite;
    }
}

.nav {
    display: flex;
    gap: $gap;
    &__link {
        text-decoration: none;
    }
}

.content {
    @include fbjcac;
    display: flex;
    gap: $gap;
    &__item {
        width: $widthSite/4;
        border: $myBorder;
    }
}
