// Some comment here

@import "reset";
@import "vars";
@import "mixins";

.title {
    text-align: center;
    color: $colorSite;
}

.container {
    &__header {
        color: $colorSite;
    }
}

.nav {
    display: flex;
    gap: $gap;
    &__link {
        text-decoration: none;
    }
}

.content {
    @include fbjcac;
    display: flex;
    gap: $gap;
    &__item {
        width: calc($widthSite / 4);
        border: $myBorder;
    }
}
