@import "reset";
@import "vars";

.title {
    text-align: center;
    color: $colorSite;
}

.container {
    &__header {
        color: $colorSite;
    }
}

// Compilation Error
// Error: Undefined variable.
//   ╷
// 6 │     color: $colorSite;
//   │            ^^^^^^^^^^
