@import "reset";
@import "vars";

.title {
    text-align: center;
    color: $colorCite;
}

.container {
    &__header {
        color: $colorCite;
    }
}

// Compilation Error
// Error: Undefined variable.
//   ╷
// 6 │     color: $colorCite;
//   │            ^^^^^^^^^^

.nav {
    display: flex;
    gap: $gap;
    &__link {
        text-decoration: none;
    }
}
